.donations-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.donations-container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.donations-container header img{
    height: 64px;
}

.donations-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    

}